* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  background-color: #e6f7ff; 
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #e6f7ff;
}

.signup-box {
  width: 400px;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.signup-title {
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #1890ff;
  margin-bottom: 20px;
}

.signup-subtitle {
  color: #060606;
  font-size: 20px;
  margin-bottom: 20px;
}

.already-account {
  font-size: 14px;
  color: black; 
  margin-top: -16px;
  margin-bottom: 10px;
  text-align: left;
}

.already-account a {
  color: #1890ff; 
  text-decoration: none;
}

.already-account a:hover {
  text-decoration: underline;
}
