/* Button style */
.invite-button {
    width: 40%;
    height: 30px;
    border-radius: 8px;
    background-color: #54877c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.invite-button:not(:disabled):hover,
.invite-button:not(:disabled):focus {
    background-color: #A8D5BA !important;
    color: #2E7D32 !important;
}

.invite-button:disabled {
    background-color: #bfbfbf;
    cursor: not-allowed;
    color: white !important;
}
