.custom-ok-button:hover,
.custom-ok-button:focus {
    background-color: #e6f7e6 !important;
  }  

.custom-cancel-button:hover,
.custom-cancel-button:focus {
    background-color: #ffe3e3 !important;
    color: red !important;
  } 


.confirm-button {
    border-radius: 24px;
    border: none;
    background-color: #54877c;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-button:hover,
.confirm-button:focus {
    background-color: #87c1af !important;
}
